* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body:first-child{
    position: fixed;
}

#header{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#header #logo img {
    height: 15vh;
    cursor: pointer;
}

#header select, input[name="filter"]{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 5vh;
    border-radius: 10px;
}

#header button{
    font-weight: 600;
    border: none;
    background: rgba(177, 7, 7, 0.884);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#header + #container{
    background: linear-gradient(to right, #757f9a, #d7dde8);
    width: 100%;
    min-height: 100vh;
}

#coin_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#container #countResult{
    padding: 15px 0;
    text-align: center;
}

#coin_container .coin{
    flex-basis: 25%;
    padding: 15px;
    margin: 25px 0;
    background: linear-gradient(to right, rgba(236, 231, 231, 0.651), rgba(255, 255, 255, 0.603));
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);

}

.fas{
    margin: 15px;
    font-size: 2em;
    cursor: pointer;
}

.fas.fa-bars{
    display: none;
}

.fas.fa-times{
    display: none;
    position: absolute;
    top: 0;
}

.coin .name{
    font-weight: 700;
}

@media only screen and (max-width: 900px){
    #header {
        font-size: 0.8em;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #coin_container .coin{
        flex-basis: 70%;
    }
}

@media only screen and (max-width: 500px){
    .fas.fa-bars{
        display: inline-block;
    }

    #header {        
        display: none;
        height: 50vh;
    }

    #header #sort{
        display: flex;
        flex-direction: column;  
    }

    #header select, #header button, #header input[name="filter"]{
        border-radius: 0px;     
    }
}